<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <link rel="stylesheet" href="/twin/cesium/Widgets/widgets.css">
    <script src="/twin/cesium/Cesium.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>武汉武昌三维底座</title>
    <script type="module" crossorigin src="/twin/assets/index-CGFM17U_.js"></script>
    <link rel="stylesheet" crossorigin href="/twin/assets/index-Dx-mVSEC.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
